# 튜플

In [5]:
#튜플 생성( )이용

t1 = (1, 2, 3)
t2 = 4, 5, 6 #소괄호 없어도 튜플로 가능
t3 = t1,(7, 8, 9)#튜플 내에 또 다른 튜플 생성
t4 = [1, 2], [4, 5]#리스트로 튜플 생성

t5 = tuple([5,6,7,8]) #tuple 함수 사용 - 기존 구조(리스트)를 튜플로 변환
t6 = ([5, 6, 7, 8]) #리스트 하나를 원소로 갖는 튜플

print(t4)
t4[0]
print(t5)
print(t6)

([1, 2], [4, 5])
(5, 6, 7, 8)
[5, 6, 7, 8]

In [7]:
#튜플을 리스트로 변환
#(1 ,2 , 3) -> [1, 2, 3]

to_list1 = list(t1)
to_list1

[1, 2, 3]

In [9]:
#튜플 내 튜플 원소는 변환 후에도 그대로 튜플로 유지

to_list2 = list(t3)
to_list2

[(1, 2, 3), (7, 8, 9)]

In [10]:
#튜플은 변경할 수 없다

t = (1,2,3)
t[0] = 5#에러 발생: 변경 불가

TypeError: 'tuple' object does not support item assignment

In [12]:
t7 = (1)
t7

1

In [15]:
#소괄호 없이 튜플을 생성할 때 원소가 1개인 튜플을 생성하는 방법

t8 = 2,
t8

(2,)

# 딕셔너리

In [18]:
#딕셔너리 : 키와 값의 한쌍을 요소로 갖는 자료형
#구성 : d = {키 : 값, 키 : 값 ....}
#관련 함수
#딕셔너리.key()
#딕셔너리.values()
#딕셔너리.items()

d = {1: 'a'}
print(d)

#딕셔너리에 값(item) 추가
#딕셔너리 변수[새로 추가 될 key] = 키에 대응하는 값
#키값 2에 대응하는 value 'b'를 추가

d[2] = 'b'

print(d)

#키 값 name에 대응하는 value '홍길동' 아이템을 딕셔너리 d에 추가하시오.
d['name'] = '홍길동'
print(d)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': '홍길동'}

In [19]:
#딕셔너리 item에 value에 접근
#딕셔너리명[키값]
d[2]

'b'

In [21]:
#딕셔너리 예제

naver = {
    "name" : "naver",
    "url" : "www.naver.com",
    "userid" : "nv",
    "password" : "1234"
}

print(naver)
print(type(naver))

{'name': 'naver', 'url': 'www.naver.com', 'userid': 'nv', 'password': '1234'}
<class 'dict'>

In [22]:
#관련 함수
print(naver.keys())#key를 리스트 형태로 반환
print(naver.values())#value를 리스트 형태로 반환
print(naver.items())#(key,value)형태로 모든 item을 리스트로 변환

dict_keys(['name', 'url', 'userid', 'password'])
dict_values(['naver', 'www.naver.com', 'nv', '1234'])
dict_items([('name', 'naver'), ('url', 'www.naver.com'), ('userid', 'nv'), ('password', '1234')])

In [23]:
print(naver.keys()[0]) #반환 객체가 list를 포함하는 dict_keys 형태로 반환
#사용하려면 list형태로 변환시켜 사용해야 함.

TypeError: 'dict_keys' object is not subscriptable

In [25]:
#딕셔너리 파생 객체들은 list로 변환 후 사용
list(naver.keys())[0]

'name'