In [5]:
password = 1234

if password == 1234:
    print("비밀번호 일치")
else :
    print("비밀번호 불 일치")

비밀번호 일치

In [7]:
password = 1234

if password == 1234:
    print("비밀번호 일치")
else :
    pass # 아무것도 수행하지 않을 경우

In [13]:
#로그인 프로그램
ID = 'flower'
password = '1234'

#사용자로부터 키보드를 통해서 값을 입력받기
input_id = input('아이디를 입력하세요 : ') # 입력되는 data는 문자열로 처리
input_pass = input('비밀번호를 입력하세요 : ') #

#두 값이 모두 일치하면 로그인 성공

if(ID == input_id) and (input_pass == password):
    print("로그인 성공")
else : 
    print("로그인 실패")

아이디를 입력하세요 : flower
비밀번호를 입력하세요 : 1234
로그인 성공

In [15]:
#사용자로부터 두 수를 입력받아 더한 결과를 출력하는 코드 작성

su1 = int(input('첫번 째 수 입력 : '))
su2 = int(input('두번 째 수 입력 : '))

print(su1 + su2)

첫번 째 수 입력 : 232
두번 째 수 입력 : 15
247

In [18]:
#if ~ elif ~ else

num = int(input("정수 입력 : "))

if num < 0 :
    print("음수")
elif num > 0 : 
    print("양수")
else :
    print("0")

정수 입력 : 0
0

반복문

In [27]:
#출력시 print문은 줄바꿈을 표현한다. 줄바꿈 없이 출력 end = ''
#for 변수 in 리스트 또는 범위

for name in ['홍길동', '이몽룡', '성춘향', '변학도']:
    print(name, end=' ')

print(' ')
for x in range(0, 10):
    print(x)

홍길동 이몽룡 성춘향 변학도
0
1
2
3
4
5
6
7
8
9

In [28]:
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [33]:
#숫자 11부터 21까지 한줄에 출력하시오.

for i in range(11, 22):
    print(i, end=" ")

    
print(" ")

sumx = 0 #누적 변수 반복문에서 쓰기 전에 선언되어야 한다.
for num in range(1, 11):
    sumx += num
    
print(sumx)

11 12 13 14 15 16 17 18 19 20 21
55

# 문자열

In [34]:
# 문자열 곱하기
#곱한 수 만큼 문자열이 반복되어 생성

string = '파이썬'

result = string * 3

print(result)

파이썬파이썬파이썬

In [40]:
#문자열 슬라이싱 (문자열의 일부분을 수출하는 기능)

crawling = 'Data crawling is fun'
parsing = 'Data parsing is also fun'

print(crawling)
print(crawling[0:4])#0-3
print(crawling[5:16])#5-15
print(crawling[17:])#17-끝
print(crawling[19])#19(20번째 문자) - 인덱스는 0부터 시작
print(crawling[-1:])#마지막에서 끝까지 (마지막 문자)
print(crawling[:-1])#처음부터 마지막 -1까지
print(crawling[16:16+4])#16-19

Data crawling is fun
Data
crawling is
fun
n
n
Data crawling is fu
 fun

In [43]:
parsing[5] = '가'#문자열 인덱싱에는 대입 연산자를 사용할 수 없다 error

TypeError: 'str' object does not support item assignment

In [45]:
#문자열 연산자 in / not in 연산
#특정 문자열이 포함되어 있는지 여부 확인
#결과 T/F

string = 'python programming'

print('python' in string)
print('Python' in string)

if 'python' in string:
    print('있음')
else :
    print("없음")

True
False
있음

In [48]:
#len() : 문자열 전체 길이 반환, 단독함수 len(변수명 또는 문자열)
#count() : 특정 문자열의 빈도수 반환ㅡ 문자열 또는 변수.count(개수할 문자)

string = 'programming'
print(len(string))
print(string.count('m'))

11
2

In [54]:
#split() : 구분자를 기준으로 문자를 나누고 리스트 형태로 반환
#구분자 : 기본 공백, 옵션으로 구분자를 지정할 수 있음 ~/ . , 

string = 'python programming'
split_str = string.split()
print(split_str)#결과는 리스트 형태로 번환

names = '홍길동,이몽룡,성춘향,변학도'

names_split = names.split(",")
print(names_split)

colors ='red:blue:yellow:green'
colors_split = colors.split(":")
print(colors_split)

['python', 'programming']
['홍길동', '이몽룡', '성춘향', '변학도']
['red', 'blue', 'yellow', 'green']

In [58]:
#replace() : 전체 문자열에서 특정 문자열을 찾아 다른 문자열로 변경
#문자열.replace(찾는문자열,변경할 문자열)

course = 'Java programming'

#Java를 PYthon으로 변경

course_replace = course.replace('Java', "Python")
print(course_replace)

#기존 course 변수의 값은 변경되었는가?

print(course)

Python programming
Java programming

In [60]:
#join() : 각 문자사이에 특정 문자(열) 삽입

a = 'aa'
a.join('bbb')

#문자열 사이에 구분자 삽입 사용
#리스트에 있는 모든 문자를 하나로 구성할 떄 사용(리스트 함수)
a = '-'
print(a.join('join'))

#리스트에 join 함수 사용

sep = '-'
names = ['홍길동', '이몽룡', '성춘향']
print(sep.join(names))

j-o-i-n
홍길동-이몽룡-성춘향

In [61]:
#대소문자 전환 함수
#upper(): 전부 대문자로
#lower(): 전부 소문자로
#captioalize() : 문자의 첫 번째 문자를 대문자로
#title =  각 단어의 첫글자를 대문자로 변경

string = 'this is WroG'
string upper()
string lower()
string captpital()

SyntaxError: invalid syntax (<ipython-input-61-9cf1c14d9eb2>, line 8)

In [ ]:
#isalpha() 문자여부 결과 반한(T/F)
#isdigit() : 숫자여부 결과 반환
#isspace() : 공백 여부 결고 봔환(T/F)

#isalnum() = 문자 또는 숫자여부 결과 반환(T/F)

In [69]:
#사용자로부터 문장을 입력받는다
string = input("문장을 입력 :  ")

alphas = digits = spaces = others = 0

for c in string : #string 변수에서 한 글자씩 c에 대입
    if c.isalpha():
        alphas += 1
    elif c.isdigit():
        digits += 1
    elif c.isspace():
        spaces += 1
    else:
        others += 1

        
        
print('문자 : %d 개 '% alphas) #포맷문자 이용 %d는 정수를 의미
print("숫자 : %d 개" % digits)
print('공백 : %d 개' % spaces)
print('기타 : %d 개' % others)

문장을 입력 :  안녕하세요 조한슬 입니다 Hello my name is 조한슬 1234
문자 : 27 개
숫자 : 4 개
공백 : 8 개
기타 : 0 개

# 리스트

In [72]:
#리스트 생성

numbers = [100, 200, 300, [10, 20, 30]]

for n in range(0, len(numbers)) : 
    print(numbers[n])

100
200
300
[10, 20, 30]

In [74]:
#리스트의 값을 각 변수에 저장하는 코드

nums = [1, 2, 3]
a,b,c = nums #리스트 모든 원소를 각 변수에 대입

print(a, b , c)

1 2 3

In [83]:
#인덱싱
#a[0] : 첫 번째 요소
#a[-1] : 마지막 요소
#a[-2] : 뒤에서 두 번째 요소

b = [1, 2, 3, [10, 20, 30]]
b[-1][0] #반환 되는 값

a = [1, 2, 3, 4, 5]
c = [1, 2, 3, [10, 20], 4, 5]

all_list = [a,b,c]

all_list[-1][3][0]

10